

<h2>Reactive: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input 
                class="form-control" 
                formControlName="name"
                placeholder="Nombre de la persona"
            >
            <span 
                class="form-text text-danger"
                *ngIf="isValidField('name')"
            >
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Añadir favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Añadir juego favorito</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input 
                    class="form-control" 
                    [formControl]="newFav"
                    placeholder="Nuevo juego"
                    (keyup.enter)="addFavorite()"
                >
                <button 
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="addFavorite()"
                >
                    Añadir
                </button>
            </div>

        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favorites">

            <div 
                class="input-group mb-1" 
                *ngFor="let favorite of favArray.controls; let i = index"
            >
                <input 
                    class="form-control"
                    [formControlName]="i"
                >

                <button 
                    type="button"
                    class="btn btn-outline-danger"
                    (click)="delete(i)"
                >
                    Borrar
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button
                type="button"
                class="btn btn-primary float-end"
                (click)="save()"
            >   
                Guardar
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>{{myForm.valid}}</pre>
<br>

<span>Value</span>
<pre>{{myForm.value | json}}</pre>
<br>

<span>Añadir juego</span>
<pre>{{newFav.valid | json}}</pre>
<pre>{{newFav.value | json}}</pre>
